/.idea/.idea.WasapiListener/.idea/.gitignore
/.idea/.idea.WasapiListener/.idea/.name
/WasapiListener/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/WasapiListener/obj/Debug/net481/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/WasapiListener/obj/Debug/net9.0/apphost.exe
/.idea/.idea.WasapiListener/.idea/indexLayout.xml
/WasapiListener/bin/Debug/net9.0/libspeexdsp.dll
/WasapiListener/bin/Debug/net9.0/loopback.wav
/WasapiListener/bin/Debug/net9.0/mic.wav
/WasapiListener/obj/Debug/net9.0/MicListe.AEADD049.Up2Date
/WasapiListener/obj/Debug/net9.0/MicListener.AssemblyInfo.cs
/WasapiListener/obj/Debug/net481/MicListener.AssemblyInfo.cs
/WasapiListener/obj/Debug/net9.0/MicListener.AssemblyInfoInputs.cache
/WasapiListener/obj/Debug/net481/MicListener.AssemblyInfoInputs.cache
/WasapiListener/obj/Debug/net9.0/MicListener.assets.cache
/WasapiListener/obj/Debug/net481/MicListener.assets.cache
/WasapiListener/obj/Debug/net9.0/MicListener.csproj.AssemblyReference.cache
/WasapiListener/obj/Debug/net481/MicListener.csproj.AssemblyReference.cache
/WasapiListener/obj/Debug/net9.0/MicListener.csproj.CoreCompileInputs.cache
/WasapiListener/obj/Debug/net481/MicListener.csproj.CoreCompileInputs.cache
/WasapiListener/obj/Debug/net9.0/MicListener.csproj.FileListAbsolute.txt
/WasapiListener/obj/Debug/net481/MicListener.csproj.FileListAbsolute.txt
/WasapiListener/obj/MicListener.csproj.nuget.dgspec.json
/WasapiListener/obj/MicListener.csproj.nuget.g.props
/WasapiListener/obj/MicListener.csproj.nuget.g.targets
/WasapiListener/bin/Debug/net9.0/MicListener.deps.json
/WasapiListener/obj/Debug/net9.0/ref/MicListener.dll
/WasapiListener/obj/Debug/net9.0/refint/MicListener.dll
/WasapiListener/obj/Debug/net9.0/MicListener.dll
/WasapiListener/bin/Debug/net9.0/MicListener.exe
/WasapiListener/obj/Debug/net481/MicListener.exe.withSupportedRuntime.config
/WasapiListener/obj/Debug/net9.0/MicListener.GeneratedMSBuildEditorConfig.editorconfig
/WasapiListener/obj/Debug/net481/MicListener.GeneratedMSBuildEditorConfig.editorconfig
/WasapiListener/obj/Debug/net9.0/MicListener.genruntimeconfig.cache
/WasapiListener/obj/Debug/net9.0/MicListener.GlobalUsings.g.cs
/WasapiListener/obj/Debug/net481/MicListener.GlobalUsings.g.cs
/WasapiListener/obj/Debug/net9.0/MicListener.pdb
/WasapiListener/bin/Debug/net9.0/MicListener.runtimeconfig.json
/MicListener.sln.DotSettings.user
/WasapiListener/bin/Debug/net9.0/NAudio.Asio.dll
/WasapiListener/bin/Debug/net9.0/NAudio.Core.dll
/WasapiListener/bin/Debug/net9.0/NAudio.dll
/WasapiListener/bin/Debug/net9.0/NAudio.Midi.dll
/WasapiListener/bin/Debug/net9.0/NAudio.Wasapi.dll
/WasapiListener/bin/Debug/net9.0/NAudio.WinMM.dll
/WasapiListener/bin/Debug/net9.0/output.wav
/WasapiListener/obj/project.assets.json
/WasapiListener/obj/project.nuget.cache
/WasapiListener/obj/project.packagespec.json
/WasapiListener/obj/rider.project.model.nuget.info
/WasapiListener/obj/rider.project.restore.info
/WasapiListener/obj/Debug/net9.0/WasapiListener.AssemblyInfo.cs
/WasapiListener/obj/Debug/net9.0/WasapiListener.AssemblyInfoInputs.cache
/WasapiListener/obj/Debug/net9.0/WasapiListener.assets.cache
/WasapiListener/obj/Debug/net9.0/WasapiListener.csproj.AssemblyReference.cache
/WasapiListener/obj/Debug/net9.0/WasapiListener.csproj.CoreCompileInputs.cache
/WasapiListener/obj/Debug/net9.0/WasapiListener.csproj.FileListAbsolute.txt
/WasapiListener/obj/WasapiListener.csproj.nuget.dgspec.json
/WasapiListener/obj/WasapiListener.csproj.nuget.g.props
/WasapiListener/obj/WasapiListener.csproj.nuget.g.targets
/WasapiListener/bin/Debug/net9.0/WasapiListener.deps.json
/WasapiListener/bin/Debug/net9.0/WasapiListener.dll
/WasapiListener/obj/Debug/net9.0/ref/WasapiListener.dll
/WasapiListener/obj/Debug/net9.0/refint/WasapiListener.dll
/WasapiListener/obj/Debug/net9.0/WasapiListener.dll
/WasapiListener/bin/Debug/net9.0/WasapiListener.exe
/WasapiListener/obj/Debug/net9.0/WasapiListener.GeneratedMSBuildEditorConfig.editorconfig
/WasapiListener/obj/Debug/net9.0/WasapiListener.genruntimeconfig.cache
/WasapiListener/obj/Debug/net9.0/WasapiListener.GlobalUsings.g.cs
/WasapiListener/bin/Debug/net9.0/WasapiListener.pdb
/WasapiListener/obj/Debug/net9.0/WasapiListener.pdb
/WasapiListener/bin/Debug/net9.0/WasapiListener.runtimeconfig.json
/WasapiListener.sln
/WasapiLIstener.sln.DotSettings.user
/.idea/.idea.MicListener/.idea/workspace.xml
/WasapiListener/bin/Debug/net9.0/Динамики (Realtek(R) Audio).wav
/WasapiListener/bin/Debug/net9.0/Микрофон (Auto Focus Camera).wav
